*{
    margin: 0;
    padding: 0;
}

body {
font-family: 'Cutive Mono', monospace;
font-size: 100%;
margin: 0 auto;
width: 900px;
color: #e61e25;
}

header {
    background-color: white;
    padding-bottom: 0px;
    padding-left: 40px;
    padding-top: 30px;
    width: 600px;
    border-bottom-color: orangered;
}

nav {
    background-color: white;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 20px;
    text-align: left;
}


li {
    list-style-type: none;
    text-align: left;
    padding-left: 50px;
    padding-right: 35px;
    background-color: white;
    font-size: 20px;
}

.nav-links:link {
    color: #e61e25;
    text-decoration:none;
    
}

.nav-links:visited {
    color: #e61e25;
    text-decoration:none;
}

.nav-links:hover {
    color: coral;
}


footer {
    text-align: center;
    background-color: white;
    clear: both;
    min-height: 50px;  
    color:#e61e25;
    padding-top: 30px;
}

h1 {
    background-color: white;
    color: #e61e25;
    font-family: font-family: 'Cutive Mono', monospace;;
    font-size: 2.1875em;
    text-align: left;
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 30px;
    
    width:600px;
    border-bottom-color: blue;
    }


p {}
