*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cutive Mono', monospace;
    font-size: 100%;
    margin: auto;
    width: 900px;
    background-color: floralwhite;
}

nav{
width:815px;
}

.topnav {
    background-color: #e61e25;
    overflow: hidden;
    
}


.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 20px;
    padding-top: 31px;
    padding-bottom: 31px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: orangered;
    color: floralwhite;
}

/* Add a color to the active/current link */
.topnav a:active {
    background-color: floralwhite;
    color: #e61e25;
}


main {
    background-color:
    floralwhite;
    padding-bottom: 20px;
    align-content: center;
    width: 900px;
    float: left;
    
      }



.circle {
    height:85px;
    width: 85px;
    float: left;
    
}
.email{
 float:left;
width: 200px;
height: 200px;
}

.resume{
float:left;
width: 200px;
height: 200px;
    
}
h3{
color:#e61e25;
font-size: 40px; 
padding-top: 40px;
}

h4{
color:#e61e25;
font-size:30px;
font-weight: lighter;
padding-bottom: 60px;

}
    
h5{
color:#e61e25;
font-size:30px;
font-weight: lighter;
float: left;
height: 125px;
Width:600px;
padding-left: 50px;
padding-right:50px;
padding-top: 75px
}
  
h6{
color:#e61e25;
font-size:30px;
font-weight: lighter;
float: left;
height: 125px;
Width:400px;
padding-left: 250px;
padding-top: 75px;

}
  
footer {
    text-align: center;
    background-color: floralwhite;
    clear: both;
    min-height: 50px;  
    color:#e61e25;
}