*{
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Cutive Mono', monospace;
    font-size: 100%;
    margin: auto;
    width: 900px;
    background-color: #e61e25;
}

header {
    background-color: #e61e25;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-top: 5px;
    width: 300px;
    float:left;
}

nav {
    background-color: #e61e25;
    padding-bottom: 10px;
    padding-left: 35px;
    padding-top: 10px;
    text-align: center;
    width: 500px;
    float: left;
    
}


li {
    list-style-type: none;
    display: inline;
    text-align: center;
    padding-right: 35px;
    background-color: #e61e25;
    
}

.nav-links:link {
    color: #FFF;
    text-decoration:none;
    
}

.nav-links:visited {
    color: #0080FF;
    text-decoration:none;
}

.nav-links:hover {
    color: lightblue;
}

main {
    background-color: #e61e25;
    padding-bottom: 20px;
    align-content: center;
    width: 900px;
    float: left;
    
}


.gallery{
    column-count: 2;
    column-gap: 0px;
    width: 900px;
    
}

.gallery figure {
    color: blue;
    float: left;
    text-align: center;
    width: 100%;
    height: 100%x;
    overflow: hidden;
    position: relative;         }


.thumbnail-1 {
    float: left;
    margin-left: 7em;
    margin-bottom: 7em;
    margin-top:60em;
}

.thumbnail-2 {
    float: right;
    margin-right: 7em;
}
figcaption {
    background-color: yellow;
    color: #fff;
    display: block;
    font-size: 90%;
    height: 700px;
    width: 410px;
    opacity: 0;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    transition: opacity .4s ease;
}

figcaption p {
   padding-top: 40px; 
}

figcaption:hover {
    opacity: .6;
}
.front-gallery figure {
    color: #e61e25;
    text-align: center;
    width: 450px;
    float: left;
    column-count:3;
    
    }

figure img {
    height: auto;
    position: relative; 
    color: blue;
    float: left;
    text-align: center;
    overflow: hidden;
}

.front-gallery {
    float: left;
    height: 300px;
    width: 600px;
    column-count: 3;
    padding-top: 200px;
}


.front-gallery img{
    height: 200px;
    width: 200px;
    column-count: 3;    
}

.process-pic figure{
    width:300px;}

.process-pic img{
    width:300px;
}

.about section { 
    background-color: white;
}

footer {
    text-align: center;
    background-color: #e61e25;
    clear: both;
    min-height: 50px;  
    color:white;
}

h1 {
    background-color: #e61e25;
    color: #FFF;
    font-family: font-family: 'Cutive Mono', monospace;
    font-size: 2.1875em;
    text-align: left;
    padding-top: 270px;
    padding-bottom: 10px;
    width:300px   
}

h2 {    background-color: #e61e25;
    color: #FFF;
    font-family: font-family: 'Cutive Mono', monospace;
    font-size: 2.1875em;
    text-align: left;
    padding-top: 10px;
    padding-bottom: 10px;
    width:300px   
}


h3 {
    background-color:white;
    color: #e61e25;
font-family: 'Cutive Mono', monospace;
    width: 280px;
    font-size: 1.5em;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-top: 20px;
    clear:both;
    float: left;
}

h4 {
color: #e61e25;
background-color: white;
clear:"about-pic";
padding-top: 20px;
padding-left: 20px;
padding-bottom: 20px;
width: 580px;
float: right;
}

h5{ 
color: #e61e25;
background-color: white;
clear:"about-pic";
padding-top: 200px;
padding-bottom: 20px;
width: 400px;
float: right;
height: 400px;
    
}